{% load socialaccount %}
{% load crispy_forms_tags %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Without Judgment - Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        label {
            color: #F9F8F8;
        }

        .asteriskField {
            display: none;
        }


    </style>
</head>

<body style="background-color: #42A1C9;">
	<div id="login">
		<div id="logo" align="center">
            <img src="../../static/registration/images/logo.png" height="150px" width="150px" alt="HWJ_logo.png">
		</div>
		<h3 id="title-banner" class="text-center text-white pt-5" >Help Without Judgment</h3>
		<div id="main-wrapper" class="container" >
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-4">
					<div id="login-box" class="col-md-12">



                        {% if next %}
                            <p align="center">Please login to continue.</p>
                        {% endif %}

                        <form id="login-form" class="form" method="POST" action="{% url 'login' %}" />
                            {% csrf_token %}
                            <h3 class="text-center text-white" style="color: #795A63;">Login</h3><br>

							<!-- Username -->
					  		<div class="form-group" align="center">
								{{ form|crispy }}
                            </div>

                            <!-- Submit -->
                            <div class="form-group" align="center">
                                <button type="submit" name="submit" class="btn btn-secondary btn-md btn-block" style="background-color: #795A63; color:#F9F8F8;" value="Submit">Login</button>
							</div>
                            <input type="hidden" name="next" value=""{{ next }}>

                            <!-- Google Login -->
                            <div class="form-group" align="center">
                                <a class="btn btn-block btn-social btn-google" style="background-color: #DD4B39; color:#F9F8F8;" href="{% provider_login_url "google" %}">
                                    <span class="fa fa-google"></span> Sign in with Google
                                </a>
                            </div>

                            <!-- Facebook Login -->
                            <div class="form-group" align="center">
                                <a class="btn btn-block btn-social btn-facebook" style="background-color: #3B5998; color:#F9F8F8;" href="{% provider_login_url "facebook" %}">
                                    <span class="fa fa-facebook"></span> Sign in with Facebook
                                </a>
                            </div>

                            <!-- Register User Link -->
                            <div id="register-link" align="center"><br>
                                <a href="{% url 'register' %}" class="text-white">New User? Register Here</a>
                            </div>

                            <!-- Register Org Link -->
                            <div id="org-register-link" align="center"><br>
                                <a href="{% url 'organization_register' %}" class="text-white">Local Organization? Register Here</a>
                            </div>

                            <!-- API Link -->
                            <div id="api_link" align="center"><br>
                               <a href="https://helpwithoutjudgment.com/api" class="text-white">Looking for Data? Check out the API</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>