{% extends "user/base.html" %}
{% load crispy_forms_tags %}

{% block pageheader %}Create a New Service Request{% endblock %}

{% block content %}
    <div class="container">
        <form action= "{% url 'create_request' %}" method="POST" class="col-lg-5 offset-lg-3">

            {% csrf_token %}

            <div class="form-group">
                {{ form.type|as_crispy_field }}
            </div>

            <div class="form-group">
                {{ form.description|as_crispy_field }}
            </div>

            <button type="submit" class="btn btn-link" style="background: #40a9cf; color: #F9F8F8;">Submit</button>
        </form>
    </div>

{% endblock content %}