{% extends "user/base.html" %}

{% block pageheader %}Local Non-Profit Organizations{% endblock pageheader %}

{% block content %}
    <h4>There are local resources that can provide different, and sometimes more long-term assistance.</h4>
    <hr class="my-4">
    <form action="{% url 'non_profits' %}" method="POST" class="empty-form">
        {% csrf_token %}
        <div class="form-group" align="center">
            <div class="col-sm-3 col-md-r">
                <div class="form-group" align="center">
                    <label for="city_lookup">Enter a city</label>
                    <input style="text-align:center;" name="city_input" type="text" id="city_input" class="form-control">
                    <label for="state_lookup"><br>Enter the state initials</label>
                    <input style="text-align:center;" name="state_input" type="text" id="state_input" class="form-control"><br>
                </div>
                <br><button type="submit" value="" name="submit" class="btn btn-link" style="background: #1a2a67; color: #F9F8F8;">Lookup Resources</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block results%}
    {% if charities %}
        <hr class="my-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr style="background-color: #42A1C9;">
                    <th colspan="4"><h3>Local Non-Profit Search Results</h3></th>
                </tr>
                <tr style="background-color: #1a2a67;">
                    <th style="width: 30%" scope="col"><h4>Name</h4></th>
                    <th style="width: 25%" scope="col"><h4>Address</h4></th>
                    <th style="width: 25%" scope="col"><h4>City</h4></th>
                    <th style="width: 20%" scope="col"><h4>Zip Code</h4></th>
                    <!--<th style="width: 20%" scope="col"><h4>Website</h4></th>-->
                </tr>
            </thead>

            {% for item in charities.items %}
                <tr>
                    <th scope="row"><a href={{ item.1.href_string }} target="_blank"><h5>{{ item.1.name }}</h5></a></th>
                    <td><h5>{{ item.1.address }}</h5></td>
                    <td><h5>{{ item.1.city }}</h5></td>
                    <td><h5>{{ item.1.zipcode }}</h5></td>
                    <!--<td><h5>{{ item.1.website }}</h5></td>-->
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock results%}