{% extends "user/base.html" %}

{% block pageheader %}View Past Requests{% endblock %}

{% block content %}
    {% if created_requests.count > 0 %}
    <h4> You created the following past Service Requests </h4>
    <hr class="my-4">
    <div class="row">
        {% for request in created_requests %}
            <div class="col-sm-4 col-md-r">
                <div class="thumbnail">
                    {% if request.type == 'Furniture Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/furniture_request_default_image.jpg" alt="furniture_request_default_image.jpg">
                    {% elif request.type == 'Food Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/food_request_default_image.jpg" alt="food_request_default_image.jpg">
                    {% elif request.type == 'Clothing Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/clothing_request_default_image.jpg" alt="clothing_request_default_image.jpg">
                    {% elif request.type == 'Interpreter Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/interpreter_request_default_image.png" alt="interpreter_request_default_image.jpg">
                    {% elif request.type == 'Transportation Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/transportation_request_default_image.jpg" alt="transportation_request_default_image.jpg">
                    {% endif %}

                    <div class="caption">
                        <h3><strong>Status: </strong>{{ request.status }}</h3>
                        <p><strong>Type: </strong>{{ request.type }}</p>
                        <p><strong>Requested By: </strong>{{ request.requester }}</p>
                        <p><strong>Description: </strong>{{ request.description }}</p>
                        <p><strong>Created On: </strong>{{ request.date_created|date:"F d, Y" }}</p>
                        <p><strong>Accepted By: {{ request.accepter }}</strong></p>
                        <p><strong>Appointment Date: </strong>{{ request.date_appointment }}</p>
                        <p><strong>Completed On: </strong>{{ request.date_completed|date:"F d, Y" }}</p>

                        {% if request.requester_feedback == 'None' %}
                            <div class="empty-form">
                                <form action = "{% url 'past_requests' %}" method="POST" class="form" id="feedback">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="request_type">Please tell us about your experience:</label>
                                        <input type="text" name="feedback_response">
                                    </div>
                                    <input type="hidden" name="primary_key" value="{{ request.pk }}">
                                    <input type="hidden" name="button" id="requester_feedback" value="requester_feedback">
                                    <button type="submit" class="btn btn-link" style="background: #48ad76; color: #F9F8F8;">Submit Feedback</button>
                                </form>
                            </div>
                        {% else %}
                            <p><strong>Feedback: </strong> {{ request.requester_feedback }} </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h4> You have not created any past Service Requests. </h4>
    <hr class="my-4">
    {% endif %}

    <hr class="my-4">
    {% if accepted_requests.count > 0 %}
    <h4> You have accepted the following past Service Requests </h4>
    <hr class="my-4">
        <div class="row">
        {% for request in accepted_requests %}
            <div class="col-sm-4 col-md-r">
                <div class="thumbnail">
                    {% if request.type == 'Furniture Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/furniture_request_default_image.jpg" alt="furniture_request_default_image.jpg">
                    {% elif request.type == 'Food Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/food_request_default_image.jpg" alt="food_request_default_image.jpg">
                    {% elif request.type == 'Clothing Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/clothing_request_default_image.jpg" alt="clothing_request_default_image.jpg">
                    {% elif request.type == 'Interpreter Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/interpreter_request_default_image.png" alt="interpreter_request_default_image.jpg">
                    {% elif request.type == 'Transportation Service' %}
                    <img style="border: 2px solid black;" class="card-img" src="../static/registration/images/transportation_request_default_image.jpg" alt="transportation_request_default_image.jpg">
                    {% endif %}

                    <div class="caption">
                        <h3><strong>Status: </strong>{{ request.status }}</h3>
                        <p><strong>Type: </strong>{{ request.type }}</p>
                        <p><strong>Requested By: </strong>{{ request.requester }}</p>
                        <p><strong>Description: </strong>{{ request.description }}</p>
                        <p><strong>Created On: </strong>{{ request.date_created|date:"F d, Y" }}</p>
                        <p><strong>Accepted By: {{ request.accepter }}</strong></p>
                        <p><strong>Appointment Date: </strong>{{ request.date_appointment }}</p>
                        <p><strong>Completed On: </strong>{{ request.date_completed|date:"F d, Y" }}</p>

                        {% if request.accepter_feedback == 'None' %}
                            <div class="empty-form">
                                <form action = "{% url 'past_requests' %}" method="POST" class="form" id="feedback">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="request_type">Please tell us about your experience:</label>
                                        <input type="text" name="feedback_response">
                                    </div>
                                    <input type="hidden" name="primary_key" value="{{ request.pk }}">
                                    <input type="hidden" name="button" id="accepter_feedback" value="accepter_feedback">
                                    <button type="submit" class="btn btn-success">Submit Feedback</button>
                                </form>
                            </div>
                        {% else %}
                            <p><strong>Feedback: </strong> {{ request.accepter_feedback }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
    <h4> You have not accepted any past Service Requests. </h4>
    <hr class="my-4">
    {% endif %}

{% endblock content %}