{% extends "user/base.html" %}

{% block pageheader %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-r" style="text-align:center;">
            <h4>Profile Picture</h4>
                <div class="thumbnail" style="text-align: center;"><br>
                    <img style="border:2px solid black;" src={{ user.profile.image.url }}>
                </div>
                <div class="caption" style="text-align: center;">
                    <div class="empty-form">
                        <form action= "{% url 'profile' %}" enctype="multipart/form-data" method="POST" class="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="request_description">Update profile pic</label><br>
                                {{ profile_form }}
                            </div>
                            <button type="submit" class="btn btn-link" style="background: #40a9cf; color: #F9F8F8;">Update</button>
                        </form>
                    </div>
                </div>
        </div>

        <div class="col-sm-6 col-md-r" style="text-align:center;">
            <h4>User Statistics </h4><br>
            <div class="card">
                <h5 class="card-header" style="background: #42A1C9; color: #F9F8F8;">Member Since: {{ user.profile.user_anniversary|date:"F d, Y" }}</h5>
                <div class="card-body" style="background: #795A63; color: #F9F8F8;">
                    <h5 class="card-text">Requests Created: {{ user.profile.created_count }}</h5>
                    <h5 class="card-text">Requests Accepted: {{ user.profile.accepted_count }}</h5>
                    <h5 class="card-text">Requests Completed: {{ user.profile.completed_count }}</h5>
                    <h5 class="card-text">Requests Canceled: {{ user.profile.canceled_count }}</h5>
                    <h5 class="card-text">Requests Deleted: {{ user.profile.deleted_count }}</h5>
                    <h5 class="card-text">Users Affected: {{ user.profile.other_user_count }}</h5>
                </div>
            </div>
        </div>

    </div> <!-- End of row -->

{% endblock content %}