{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block pageheader %} Support Page {% endblock %}
{% block content %}

    {% if supportTickets.count > 0 %}

        <h4> You have the following support tickets: </h4>
        <hr class="my-4">
    <div class = "row">
        {% for supportTicket in supportTickets %}
            <div class="card">
        <div class = "card-body" style="text-align: left;">
            <p class = "card-text"> <strong> Subject: </strong> {{ supportTicket.subject }}</p>
            <p class = "card-text"> <strong>Description: </strong> {{ supportTicket.body }}</p>
            <p class = "card-text"> <strong> Status: </strong>{{ supportTicket.status }}</p>
             <p class = "card-text"> <strong>Action:</strong> {{ supportTicket.closing_action }}</p>
        </div>
            </div>

    </div>

    {% endfor %}
    {% endif %}


    <div container><br>
    <h3>Create a Support Ticket</h3>
        <hr class="my-4">
        <form action="{% url 'support' %}" method = "POST" class = "col-lg-5 offset-3">
            {% csrf_token %}

            <div class = "form-group"> <label for="subject"> Subject</label>
                {{ form.subject|as_crispy_field }}
            </div>


            <div class = "form-group"> <label for="Issue"> Issue </label>
                 {{ form.body|as_crispy_field }}
            </div>

            <button type = "submit" class = "btn btn-link" style = "background: #40a9cf; color: #F9F8F8"> Submit </button>

        </form>
    </div>

{% endblock content %}
